# Composer
composer.lock
composer.phar
vendor/*

# Bootstrap
app/bootstrap*

# Symfony directories
app/logs/*
!app/logs/.gitkeep
app/cache/*
!app/cache/.gitkeep
bin/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Other
build/*

# Distribution
app/AllowedIP.php
